// //Modules
// @import "modules/colors";
// @import "modules/variables";
//
// //Partials
@import "partials/reset";

body {
  background-color: lightgrey;
  .container {
    max-width: 60vw;
    margin: 0 auto;
  }
}

header, section {
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 3rem;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
}

//scroll styling
.scroll {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  z-index: 2;
}

// header
header {
  height: 60vh;
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%, 100% 0, 100% 72%, 0 100%, 0 100%, 0 0);
  filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  z-index: -1;
  nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.75rem;
        margin: 0 30px 0 30px;
        line-height: 4rem;
        cursor: pointer;
      }
    }
  }
}


@media all and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

// section: company
main {
  .about {
    height: 50vh;
    top: -60px;
    position: relative;
    z-index: -1;
    p {
      margin-top: 30px;
      font-size: 1.20rem;
      line-height: 1.75rem;
    }
  }
}

//section: offer
#offer {
  height: 60vh;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 0, 100% 75%, 0 100%, 0 100%, 0% 25%);
}
.co-offer {
  top: -70px;
  position: relative;
  article {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    .box {
      width: 18vw;
      height: 25vh;
      border: 1px solid white;
    }
  }
}

@media all and (max-width: 768px) {
  #company {
    background-size: cover;
    background-position: right;
  }
  .about {
    font-size: 1 rem;
  }
}
