// //Modules
// @import "modules/colors";
// @import "modules/variables";
//
// //Partials
// @import "partials/reset";

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//end of reset

body {
  width: 100vw;
  background-color: lightgrey;
  .container {
    max-width: 60vw;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  background-attachment: fixed;
  background-size: contain;
  position: relative;
}

header {
  width: 100%;
  background-color: #47bec9;
  .menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.75rem;
      margin-left: 30px;
      line-height: 4rem;
      cursor: pointer;
    }
  }
}

@media all and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}

// section company
main {
  #company {
    height: 60vh;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 72%, 0 100%, 0 100%, 0 0);
    filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  }
  .about {
    height: 50vh;
    top: -70px;
    position: relative;
    h1 {
      font-size: 3rem;
      background: #fff;
      display: inline-block;
      padding: 10px 15px;
    }
    p {
      margin-top: 20px;
      font-size: 1.20rem;
      line-height: 1.75rem;
    }
  }
}
@media all and (max-width: 768px) {
  #company {
    background-size: cover;
    background-position: right;
  }
  .about {
    font-size: 1 rem;
  }
}
